<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label> 
    <label class="logo"><a href="/" id="home"><i class="fas fa-book-open"></i> WDA Livraria</a></label>

    <ul>
        <li><a href="/aluguel/"><i class="fas fa-calendar-alt"></i> Aluguel</a></li>
        <li><a href="/editoras/"><i class="far fa-newspaper"></i> Editoras</a></li>
        <li><a href="/livros/"><i class="fas fa-book"></i> Livros</a></li>
        <li><a href="/usuarios/"><i class="fas fa-users"></i> Usuários</a></li>
        <li><a class="active" href="/"><i class="fas fa-sign-out-alt"></i> Logout</a></li>

    </ul>

</nav>