<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label> 
    <label class="logo">WDA Livraria</label>

    <ul>
        <li><a href="/"><i class="fas fa-sign-in-alt"></i> Login</i></a></li>
        <li><a class="active" href="/sobre">Saiba mais <i class="fas fa-question-circle"></i></a></li>
    </ul>

</nav>