<%- include ('partials/header.ejs') %>
<%- include ('partials/navbarHome.ejs') %>

<div class="container p-5 mb-4 bg-dark rounded-3 text-white">
    <div class="container py-5">
      <h2 class="display-5 fw-bold">Idealizado e Feito por David Santos</h1>
      <p class="col-md-10 fs-4">O intuíto da API é a simplicidade, feito para auxiliar a locação de livros</p>
      <button class="btn btn-primary btn-lg" type="button"><i class="fab fa-github"></i> Github</button>
      <p class="text-muted mt-3" style="font-size: 12px;">Talvez esteja privado...</p>
    </div>
</div>


<%- include ('partials/footer.ejs') %>